.c1{ background-color: #f9fbee; }
.c2{ background-color: #001400; }
.c3{ background-color: #f24841; }
.c4{ background-color: #3185c7; }
.c5{ background-color: #b3b9b2; }
.c6{ background-color: #8abad8; }
.c7{ background-color: #f98946; }
.c8{ background-color: #ffcb32; }
.c9{ background-color: #493b39; }
.c10{ background-color: #f7f6f6; }
.c11{ background-color: #b2aca6; }

.c12{ background-color: #b4d553; }
.c13{ background-color: #8f8f8e; }

.c14{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c15{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c16{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c17{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c18{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c19{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c20{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c21{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}

.c22{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c23{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c24{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
.c25{  background-image: url('../img/product-card/color/0179-NA-Lunara.png');}
