@font-face {
	font-family: "ArciformSanscyr";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr.eot?") format("eot"), url("../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr.ttf") format("truetype"), url("../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr.woff") format("woff"), url("../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr.woff2") format("woff2"); }

@font-face {
	font-family: "LCChalk";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/LCChalk/LCChalk.eot?") format("eot"), url("../fonts/LCChalk/LCChalk.ttf") format("truetype"), url("../fonts/LCChalk/LCChalk.woff") format("woff"), url("../fonts/LCChalk/LCChalk.woff2") format("woff2"); }

@font-face {
	font-family: "CenturyGothic";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/CenturyGothic/CenturyGothic.eot?") format("eot"), url("../fonts/CenturyGothic/CenturyGothic.ttf") format("truetype"), url("../fonts/CenturyGothic/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic/CenturyGothic.woff2") format("woff2"); }

@font-face {
	font-family: "Arial Rounded MT Bold";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ArialRoundedMTBold/ArialRoundedMTBold.eot?") format("eot"), url("../fonts/ArialRoundedMTBold/ArialRoundedMTBold.ttf") format("truetype"), url("../fonts/ArialRoundedMTBold/ArialRoundedMTBold.woff") format("woff"), url("../fonts/ArialRoundedMTBold/ArialRoundedMTBold.woff2") format("woff2"); }



@font-face {
	font-family: 'Mistral';
	src: url('../fonts/Mistral/Mistral.eot');
	src: url('../fonts/Mistral/Mistral.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Mistral/Mistral.woff') format('woff'),
		url('../fonts/Mistral/Mistral.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}














