.why-page-slide {
    display: flex;
    width: 100%;
}

.why-page-slide__desc {
    max-width: 60%;
    display: flex;
    padding: 90px 0;
    padding-right: 10px;
    padding-left: 31px;
    flex-shrink: 1;
    flex-basis: 60%;
    display: flex;
}

.why-page-slide__pic {
    max-width: 40%;
    flex-basis: 40%;
    padding-left: 10px;
    flex-shrink: 3;
    display: flex;
    justify-content: flex-start;
}

.why-page-slide__tag {
    padding: 101px 0;
    position: relative;
	transform-origin: top;
	animation: tag 5s linear infinite;
}


@keyframes tag{
	from{ transform:rotate(2deg)}
	50%{ transform:rotate(-2deg)}
	to{ transform:rotate(2deg)}
}

.why-page-slide__pic{
	perspective: 600px;
}

.why-page-slide__anim{
	transform: rotateX(0deg);
	transition: 1.5s;
}

.why-page-slide__anim.active{
	transform: rotateX(-4deg);
	transform-origin: top;

}



.tag {
    font-size: 1px;
    width: 320em;
    height: 420em;
    border-radius: 50em;
    position: relative;
    .slick-list {
        position: relative;
        background: #000;
     
    }
}

.why-page-slide__wp-slider {
    position: relative;
    flex: 1;
}

.item-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .slick-list, .slick-track {
        height: 100%!important;
    }
    .slick-slide {
        height: 100%;
        width: 100% !important;
        border-radius: 50%;
    }
}

.item-slider__desc {
    height: 100%;
    width: 100%;
    position: relative;
}

.thumb-slider {
    height: 100%;
    .slick-list {
        border-radius: 50em;
    }
}

.tag .slick-list,
.tag .slick-slider {
    position: static;
    transform: none;
}

.item-slider-pic {
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
    text-align: center;

	}

.description-slide {
    .mCSB_scrollTools .mCSB_draggerContainer {
        left: -3px;
    }
    max-height: 100%;
    position: relative;
    font-family: LCChalk,
    sans-serif;
    font-size: 24px;
    letter-spacing: .07em;
	line-height: 1.3; 
    .text {
        margin-bottom: 27px;
        &:last-child {
            margin-bottom: 13px;
        }
    }
    .color {
        color: $fff;
    }
}

.description-slide.description-slide--line-h{
	.text{
		margin-bottom: 0;
	}
}

.mCSB_draggerContainer {
    position: relative;
    &:before {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        background: #000;
        width: 1px;
        top: 0;
        left: 0;
		right: 0;
		margin: auto;
    }
}

.item-slider__desc-wp {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	flex-direction: column;
	justify-content: center;
	display: flex;
}

.item-slider__desc {
    .mCSB_scrollTools {
        position: absolute;
        width: 16px;
        height: auto;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
        opacity: 0;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 6px;
        background: #000;
        border-radius: 3px;
        opacity: 1;
        max-height: 150px;
    }
    .mCSB_dragger {
        max-height: 150px!important;
    }
}

.thumb-slider {
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.why-page-slide__wp-slider {
    .slick-dots {
        display: block;
        position: absolute;
		right: -68.9%; 
		top: 56px;
		z-index: 11;
        &>li {
            margin-bottom: 15px;
            font-size: 1px;
            width: 69em;
            height: 69em;
            border-radius: 50%;
            position: relative;
			
			&:last-child{
				margin-bottom: 0;
			}
			
			&:before{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				background-image: url('../img/svgelem/circle.svg');
				background-size: contain;
				background-position: center;
				transition: opacity .3s;
				opacity: 0;
				will-change: transform;
			}
			
			&:hover, &.slick-active{
				&:before{
					opacity: 1;
					
				}
				
				&>button:before{
					opacity: 0;
				}
				&>button:after{
					opacity: 1;
				}
			}
			
			&:hover:before{
				
				animation: radius 10s infinite linear;
			}
        }
        &>li>button {
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: none;
            background: none;
            outline: none;
            display: block;
            cursor: pointer;
			font-size: 0;
			padding: 0;
			border-radius: 50%;
            &:before, &:after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-size: contain;
                background-position: center;
				background-repeat: no-repeat;
				transition: opacity .3s;
            }
			&:before{
				opacity: 1;
			}
			&:after{
				opacity: 0;
			}
			
        }
        &>li:nth-child(1) {
            &>button:before {
                background-image: url('../img/svgelem/pep.svg');
				background-size: 100% 100%;
				background-position: 6px 8px;
				
				
            }
			&>button:after {
				background-image: url('../img/svgelem/pepfff.svg');
				background-size: 100% 100%;
				background-position: 6px 8px;
			
				
				
			}
        }
		
		
		&>li:nth-child(2) {
			&>button:before {
				background-image: url('../img/svgelem/armchair.svg');
				background-size: 48%;
				background-position: 16px 19px;


			}
			&>button:after {
				background-image: url('../img/svgelem/armchairfff.svg');
				background-size: 48%;
				background-position: 16px 19px;

			}
		}
		
		&>li:nth-child(3) {
			&>button:before {
				background-image: url('../img/svgelem/bulb.svg');
				background-size: 72%;
				background-position: 9px 11px;


			}
			&>button:after {
				background-image: url('../img/svgelem/bulbfff.svg');
				background-size: 72%;
				background-position: 9px 11px;

			}
		}
		
		&>li:nth-child(4) {
			&>button:before {
				background-image: url('../img/svgelem/diez.svg');
				background-size: 56%;
				background-position: 15px;


			}
			&>button:after {
				background-image: url(../img/svgelem/diezfff.svg);
				background-size: 56%;
				background-position: 15px;


			}
		}
    }
}

@keyframes radius{
	from{transform: rotate(0);}
	to{transform: rotate(360deg);}
}

.header-page>.container {
    position: relative;
}

.wi-page-line {
    width: 40%;
    position: absolute;
    height: 0;
    right: 0;
    bottom: 0;
	display: none;
    &:before {
        content: "";
        display: block;
        width: 14px;
        height: 24px;
        background: #000;
        border-radius: 5px;
        position: absolute;
        left: 160px;
        bottom: -18px;
        z-index: 10;
    }
}

.item-slider__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}


.tag{
	transition: transform 1s;
	&.active{
		transform: rotateY(360deg);
		
	}
	.slick-prev{
		display: none!important;
	}
	
	.slick-next{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		cursor: pointer;
		box-sizing: border-box;
		border: none;
		outline: none;
		border-radius: 50px;
	}
}

.bord-slide{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 38px;
	
	.mark{
		display: block;
		width: 100px;
		height: 100px;
		position: absolute;
		top: 3px;
		left: 3px;
		background-image: url(../img/svgelem/sertificat.svg);
		background-size: 100%;
		background-position: center;

		
	}
}


.bord-slide__img{
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 100%;
	margin-bottom: 27px;
	
	
}

.bord-slide__img--people{
	background-image: url('../img/svgelem/peporange.svg');
	background-size: 147%;
	background-position: 16% 23%;
}

.bord-slide__title{
	display: block;
	color: $orange;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: .07em;
}



.bord-slide__img.bord-slide__img--arm{
	background-image: url(../img/svgelem/armchairorange.svg);
	background-size: 78%;
	background-position: center;
}


.bord-slide__img.bord-slide__img--light{
	background-image: url(../img/svgelem/bulborange.svg);
	background-size: 92%;
	background-position: center;
}


.bord-slide__img.bord-slide__img--diez{
	background-image: url(../img/svgelem/diezorange.svg);
	background-size: 92%;
	background-position: center;
}


.why-page-slide__tag-wp{
	position: relative;
	font-size: 1px;
	
	&:after {
		content: '';
		display: block;
		width: 4px;
		background: #000;
		width: 4px;
		height: 200px;
		bottom: 100%;
		left: 0;
		right: 0;
		margin: auto;
		position: absolute;
		z-index: 1;
		
	}
}


.tag{

	&:before {
		content: "";
		display: block;
		height: 18em;
		width: 18em;
		background: #000;
		border: 4px solid #ed7d31;
		position: absolute;
		top: -14em;
		left: 0;
		right: 0;
		margin: auto;
		border-radius: 50%;
		z-index: 1;

	}
}



.font-mistral{
	font-family: 'Mistral';
	font-size: 125%;
	line-height: 0;
}




